.main-conteiner {
    margin: auto;
    width: 31%;
    background: antiquewhite;
    height: 28rem;
    border-radius: 8px;
    margin-top: 7rem;
}
.mb-3 {
    margin-bottom: 1rem!important;
    width: 22rem;
    margin: auto;
}
.btn-primary{
    width: 13rem;
    margin: auto;
}
.lg-logo{
    margin-left: 2rem;
}
