*{
  margin: 0;padding: 0;
}
body{
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.ant-input {
  background-color: #fff !important;
  color: #000 !important;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.btn-md{

  background-color: Blue !important;
  border-radius: 12px ;
  font-size: 20px;
  font-weight: 600;
}
